{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card-content">
            	<span class="card-title grey-text text-darken-4">
                    <!-- aggiungo il link alla pagina di dettaglio -->
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.titolo }}</a>
                </span>
                <p class="date">{{ post.data_pubblicazione }}</p>
                <p>
                    {{ post.testo|linebreaks }}
                </p>
            </div>
            
        </div>
        
    {% endfor %}
{% endblock content %}