<!-- estende il template base -->
{% extends 'blog/base.html' %}

<!-- creo il blocco del contenuto -->
{% block content %}
    <h1>New Post</h1>
    <!-- creo il form -->
    <form method="POST" class="post-form">
        <!-- rendiamo il nostro form sicuro -->
        {% csrf_token %}
        <!-- rendiamo il form visibile -->
        {{ form.as_p }}
        <!-- bottone di salvataggio -->
        <button class="btn waves-effect waves-light right" type="submit">Save
            <i class="material-icons right">send</i>
        </button>
    </form>
{% endblock %}